.vscode/

# python
.env/
__pycache__/
build/
dist/
utils.egg-info/
.ipynb_checkpoints/

# latex
*.aux
*.fdb_latexmk
*.fls
*.toc
*.log
*.out
*.gz
*.pdf
*.snm
*.nav
*.pgf
*.vcd
*.vpp.bak*
*.lck
*.pygtex
*.pygstyle
*.Identifier
