[submodule "sources/ppga"]
	path = sources/ppga
	url = git@github.com:FedericoBustaffa/ppga.git
[submodule "sources/neighborhood_generator"]
	path = sources/neighborhood_generator
	url = git@github.com:FedericoBustaffa/neighborhood_generator.git
[submodule "sources/deap"]
	path = sources/deap
	url = https://github.com/DEAP/deap.git
